{% extends "main.html" %}
{% block content %}
{% include "nav.html" %}
        <div class="p-5">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus voluptatibus, quisquam eligendi accusantium hic repudiandae ipsam asperiores harum nemo illum mollitia deleniti? Accusamus eius doloremque esse necessitatibus, labore aliquam commodi!
        Repellendus, earum nisi. Repellendus, cumque animi, molestias eaque dignissimos temporibus soluta necessitatibus exercitationem sunt quia ipsum omnis modi dolores quis. Delectus porro assumenda eos nihil aliquam dolorum sed explicabo autem.
        Alias doloremque dicta, itaque accusantium eaque ex maxime animi exercitationem delectus minus veritatis quasi tenetur modi libero ut repellendus natus dolorem enim, consequuntur corporis. Veniam eligendi itaque dicta harum dolor.
        Dolor omnis temporibus laborum corporis eius, hic asperiores, animi ab facilis, ut esse qui odit? Itaque temporibus quos ea magni quasi natus placeat. Totam enim laboriosam omnis, nihil qui doloribus.
        Cumque, minima? Nesciunt in, adipisci, ipsum architecto hic, blanditiis ullam porro saepe maiores et natus nobis? Minus harum nihil nam odio, sequi est dolor velit dignissimos eveniet fugit repellat ratione!
        Qui quo enim quia asperiores quas soluta necessitatibus tempora, quidem eveniet, corporis reprehenderit voluptatem suscipit rerum rem accusantium, commodi tenetur explicabo? Ullam quae ad voluptatibus! Quae hic nisi omnis perspiciatis?
        Sit ut dignissimos beatae at voluptas deleniti rem incidunt in numquam similique expedita tempore minima non, culpa maiores perferendis maxime explicabo magnam impedit dicta. Reprehenderit eius quis voluptatum libero amet.
        Magnam, adipisci. Rem omnis, vero ullam accusantium fugiat id voluptatum repudiandae nobis porro officiis reiciendis ad itaque harum nam quae sed iure consectetur. Veritatis sapiente quia, facere optio id cum?
        Officiis ipsam, soluta nostrum consequatur itaque maxime aliquid possimus doloremque veritatis laudantium rerum ea dolorum provident tenetur nemo! Corporis veniam dicta exercitationem quod. Vel asperiores ducimus delectus hic vero. Ea.
        Voluptates vitae quia, fugiat id ad voluptate ducimus, saepe esse repudiandae animi ea accusantium. Assumenda quia perspiciatis voluptate iste voluptas. Provident dicta, asperiores doloribus sunt ullam tempora. Consequatur, perspiciatis veritatis?
        Esse cupiditate sit accusamus? Temporibus sit cupiditate modi, dicta tempore iste? Aut voluptatem accusamus ducimus eveniet mollitia porro possimus, impedit, debitis fugiat est deleniti iste officia autem. Voluptatum, pariatur saepe!
        Dolorum sed beatae, maxime, expedita praesentium obcaecati iure assumenda cum eum laudantium veritatis culpa autem, aut delectus sequi repudiandae optio et perspiciatis earum nihil dolor dicta? Repellendus aliquid esse deserunt?
        Voluptatibus omnis mollitia facilis pariatur? Facere, distinctio dignissimos dolore eveniet iure repellat aliquam obcaecati consectetur voluptate quisquam necessitatibus autem eos nostrum in inventore magni ullam esse dolores asperiores, aspernatur similique.
        </p>
        
    </div>
    {% include "footer.html" %}
{% endblock %}