{% extends "main.html" %}
{% block content %}
      <div class="form delete-form"> 
        <div class="svg">
            <a href="{{request.META.HTTP_REFERER}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi back-arrow bi-arrow-left" viewBox="0 0 16 16">
                    <title>Back</title>
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
            </a>
        </div>  
        <form action="" method="post">
            {% csrf_token %}
            <div class="delete-title">
                <h4 class="delete-title">Are you want to delete {{post.title}}?</h4>
            </div>

            <input type="submit" class="btn btn-danger btn-block btn-lg" value="confirm">              
        </form>	
    </div>  

    {% endblock %}