{% extends 'main.html' %}
{% load static %}
{% block content %}
{% include "nav.html" %}

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-2 text-center">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">profile</li>
            </ol>
        </nav>
        <section class="h-100 gradient-custom-2">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                  <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #4aba70; height:200px;">
                      <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                        <img src=
                        {% if user.profile_pic.url == None %}
                        "{% static 'assets/avatar.svg' %}"
                        {% else %}
                        {{user.profile_pic.url}}
                        {% endif %}
                          alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                          style="width: 150px; height: 150px; z-index: 1">
                        {% if request.user == user %}
                        <a href="{% url 'profile-update' %}">
                          <button type="button" class="btn profile-btn btn-outline-success" data-mdb-ripple-color="dark"
                          style="z-index: 1;">
                          Edit profile
                          </button>
                        </a>
                        
                        <a href="{% url 'create-post' %}">
                          <button type="button" class="btn profile-btn btn-outline-success" data-mdb-ripple-color="dark"
                            style="z-index: 1;">
                            create post
                          </button>
                        </a>
                        {% endif %}
                      </div>
                      <div class="ms-3" style="margin-top: 130px;">
                        <h5>{{user.username}}</h5>
                      </div>

                    </div>
                    <div class="card-body p-4 text-black">
                      <div class="mb-5 mt-5">
                        <p class="lead fw-normal mb-1">About</p>
                        <div class="p-4" style="background-color: #f8f9fa;">
                          {% if user.bio != None %}
                          <p class="font-italic mb-1">{{user.bio}}</p>
                          {% endif %}
                        </div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <p class="lead fw-normal mb-0">Recent Posts</p>
                        <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
                      </div>
                    
                      <div class="row g-2 post-setting">
                        {% for post in posts %}
                        <div class="col-12 col-sm-6 bg-light mb-3">
                          
                        {% if request.user == post.author %}
                        <div class="mb-3 post">
                          <div><a href="{% url 'update-post' post.id %}">Edit post</a></div>
                          <div><a href="{% url 'delete-post' post.id %}">Delete post</a></div>
                        </div>
                        {% endif %}
                          <a href="{% url 'post' post.id %}?q={{post.title}}">
                            <img class="post_image" src="{{post.post_image.url}}"
                            alt="image 1" class="w-100 rounded-3">
                          </a>
                          <h4><a href="{% url 'post' post.id %}?q={{post.title}}">{{post.title}}</a></h4>
                        </div>
                      {% endfor %}  
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          {% include "footer.html" %}
        {% endblock %}